.header img{
    height: 80px;

}

.header{
    text-align: center;
}
.header nav{
    background-color:black;
    line-height: 40px;
    font-size: 20px;
}
.header a{
    color:white;
    margin: 20px;
    text-decoration:none;
    padding:5px;
}
.header a:hover{
    background-color:gray;
}